extends layout

block content             
        .row
            form.col-6.contact-form(method='post', action='/contacts/addCSV' enctype='multipart/form-data')
                .form-group
                    label Upload CSV
                    input.form-control(type='file', name='csv')
                    br
                    if error    
                        .alert.alert-danger #{error}
                    if message        
                        .alert.alert-success #{message}        
                    input.btn(type='submit', value='Add contact')
        .info 
            if contacts
                h3 Response Log
                table.table
                    thead
                        tr
                            th(scope="col") First Name
                            th(scope="col") Last Name
                            th(scope="col") Email
                            th(scope="col") Phone Number
                            th(scope="col") Status
                    tbody
                        each contact in contacts
                            tr
                                td #{contact.contact.firstName}
                                td #{contact.contact.lastName}
                                td #{contact.contact.email}
                                td #{contact.contact.phoneNumber}
                                td
                                    if contact.valid 
                                        .alert.alert-success Valid
                                        if contact.added
                                            .alert.alert-success Successfully added
                                        else 
                                            .alert.alert-danger Contact already exists
                                    else
                                        .alert.alert-danger Not valid 

     

