extends importer

block contact
    if error
    h3 #{error}
    if contacts 
        h2 Contacts    
        table.table
            thead
                tr
                    th(scope="col") ID
                    th(scope="col") First Name
                    th(scope="col") Last Name
                    th(scope="col") Email
                    th(scope="col") Phone Number
                    th(scope="col" colspan="2") Actions
            tbody#contacts
                each contact, i in contacts
                    tr.contact-row
                        td #{contact.id} 
                        td #{contact.firstName}
                        td #{contact.lastName}
                        td #{contact.email}
                        td #{contact.phoneNumber}
                        td
                            input.btn.btn-outline-dark.edit(type="submit" value="edit" data-id= contact.email data-index=i)
                        td
                            input.btn.btn-outline-dark.delete(type="button" value="delete" data-id= contact.email)

                    



